p{
    font-size: 24px;
    color:blanchedalmond;
    background-color: black;
}
p{
    text-align: center;    
}

body{
    background-image: url(Fundo_Site.png);
    background-size: cover; 
}

#titulo{
font-size: 200px;
color: peru;
}



p{
    text-align: center;
}

#A{
    font-size: 20px;
    color:blueviolet;
}

#B{
    font-size: 40px;
    color: lightcoral;
}

#C{
    font-size: 60px;
    color: lightcoral;
}

#D{
    font-size: 80px;
    color: lightcoral;
}

#E{
    font-size: 100px;
    color: lightcoral;
}

#F{
    font-size: 120px;
    color: lightcoral;
}
