p{
    font-size: 24px;
    color:blanchedalmond;
}
body {
    background-image: image-set("Fundo_Site.png");
    background-size: cover;
     
}

header {
    background-color: #9465f3; 
    padding: 20px 0; 
    text-align: center; 
    border-bottom: 1px solid #4626cf; 
}

